.wrapper-products {
  background-color: #56a1ec;
  padding: 3%;

}

.text-header {
  color: #ffff;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1%;
}

.wrapper-card-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-product {
  margin: 1% 0;
  width: 20%;
  border: 1px solid #dedede;
  border-radius: 10px;
  padding: 1%;
  text-align: center;
  text-decoration: none;
  color: #060606;
}

.card-product:hover {
  background-color: #eeeeeeaa;
}

.image-product {
  width: 100%;
  margin: 3% 0;
  border-radius: 18px;
}

.wrapper-text {
  font-size: 15px;
  margin: 2% 0;
  background-color: #eeeeeeaa;
  padding: 3% 0;
  border-radius: 10px;
}

.name-product {
  margin-bottom: 3%;
}

@media screen and (max-width: 500px) {
  .wrapper-products {
    padding: 1%;

  }

  .card-product {
    width: 29%;
    margin: 1% 0;

  }

  .wrapper-text {
    font-size: 14px;
    padding: 3% 2%;
  }


}